<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/modal/modalStyle.css" />
  </head>

  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="logo-apple"></ion-icon>
              </span>
              <span class="title" style="font-size: 20px; font-weight: bold"
                >Amin</span
              >
            </a>
          </li>

          <li>
            <a href="./index.html">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li>
            <a href="./product.html">
              <span class="icon">
                <ion-icon name="book-outline"></ion-icon>
              </span>
              <span class="title">Products</span>
            </a>
          </li>

          <li>
            <a href="./staff.html">
              <span class="icon">
                <ion-icon name="people-outline"></ion-icon>
              </span>
              <span class="title">Staffs</span>
            </a>
          </li>

          <li>
            <a href="./customer.html">
              <span class="icon">
                <ion-icon name="people-circle-outline"></ion-icon>
              </span>
              <span class="title">Customers</span>
            </a>
          </li>

          <li>
            <a href="./report.html">
              <span class="icon">
                <ion-icon name="help-outline"></ion-icon>
              </span>
              <span class="title">Report</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="settings-outline"></ion-icon>
              </span>
              <span class="title">Settings</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- ========================= Main ==================== -->
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>

          <div class="search">
            <label>
              <input type="text" placeholder="Search here" />
              <ion-icon name="search-outline"></ion-icon>
            </label>
          </div>

          <div class="user">
            <img src="assets/imgs/customer01.jpg" alt="" />
          </div>
        </div>
        <!-- ================ Order Details List ================= -->
        <div class="details">
          <div class="recentOrders">
            <div class="cardHeader">
              <h2>Products</h2>
              <div class="">
                <a class="btn" id="btn-addproduct" style="cursor: pointer"
                  >Add</a
                >
                <a class="btn" style="cursor: pointer">View All</a>
              </div>
            </div>
            <!-- Add Product Form -->
            <div id="addProductModal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Add Product</h2>
                <div class="container-Product">
                  <form>
                    <div class="form-section">
                      <h2>GENERAL</h2>
                      <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" />
                      </div>
                      <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea
                          id="description"
                          name="description"
                        ></textarea>
                      </div>
                      <div class="form-group">
                        <label for="short_description"
                          >Short Description:</label
                        >
                        <textarea
                          id="short_description"
                          name="short_description"
                        ></textarea>
                      </div>
                      <div class="form-group">
                        <label for="category">Category:</label>
                        <select id="category" name="category">
                          <option>Select Category</option>
                        </select>
                      </div>
                      <div class="split">
                        <div class="form-group">
                          <label for="brand">Vendor:</label>
                          <select id="brand" name="brand">
                            <option>Select a Vendor</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="status">Status:</label>
                          <select id="status" name="color">
                            <option>Select a Status</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="weight">Stock:</label>
                        <input type="text" id="weight" name="weight" />
                      </div>
                    </div>

                    <div class="form-section">
                      <h2>PRICING</h2>
                      <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="text" id="price" name="price" />
                      </div>
                      <div class="form-group">
                        <label for="tax_class">Tax Class:</label>
                        <select id="tax_class" name="tax_class">
                          <option>Please Select</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="discount">Discount:</label>
                        <input type="text" id="discount" name="discount" />
                      </div>
                      <div class="form-group">
                        <label for="coupon">Coupon:</label>
                        <input type="text" id="coupon" name="coupon" />
                      </div>
                      <div class="form-group">
                        <input
                          type="checkbox"
                          id="check_apply"
                          name="check_apply"
                        />
                        <label for="check_apply">Check to Apply</label>
                      </div>
                    </div>

                    <div class="form-section">
                      <h2>IMAGE</h2>
                      <div class="form-group">
                        <label for="image">Image:</label>
                        <input type="file" id="image" name="image" />
                      </div>
                    </div>

                    <div class="form-section">
                      <h2>INVENTORY</h2>
                      <div class="form-group">
                        <label for="qty">QTY:</label>
                        <input type="text" id="qty" name="qty" />
                      </div>
                    </div>

                    <div class="form-section">
                      <h2>KEYWORDS</h2>
                      <div class="form-group">
                        <label for="keywords">Keywords:</label>
                        <input type="text" id="keywords" name="keywords" />
                      </div>
                    </div>

                    <div class="form-buttons">
                      <button type="submit">Insert Product</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!---->
            <table>
              <thead>
                <tr>
                  <td>Product</td>
                  <td>Name</td>
                  <td>Price</td>
                  <td>Stock</td>
                  <td>Vendor</td>
                  <!-- Vendor or NULL -->
                  <td>Status</td>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    <img
                      class="img-Product"
                      src="assets/imgs/customer01.jpg"
                      alt=""
                    />
                  </td>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>500</td>
                  <td>Baron Vendor</td>
                  <td><span class="status delivered">Available</span></td>
                </tr>

                <tr>
                  <td>
                    <img
                      class="img-Product"
                      src="assets/imgs/customer01.jpg"
                      alt=""
                    />
                  </td>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>500</td>
                  <td>Baron Vendor</td>
                  <td><span class="status delivered">Available</span></td>
                </tr>
                <tr>
                  <td>
                    <img
                      class="img-Product"
                      src="assets/imgs/customer01.jpg"
                      alt=""
                    />
                  </td>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>500</td>
                  <td>Baron Vendor</td>
                  <td><span class="status delivered">Available</span></td>
                </tr>
                <tr>
                  <td>
                    <img
                      class="img-Product"
                      src="assets/imgs/customer01.jpg"
                      alt=""
                    />
                  </td>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>500</td>
                  <td>None</td>
                  <td><span class="status delivered">Available</span></td>
                </tr>

                <tr>
                  <td>
                    <img
                      class="img-Product"
                      src="assets/imgs/customer01.jpg"
                      alt=""
                    />
                  </td>
                  <td>Dell Laptop</td>
                  <td>$110</td>
                  <td>500</td>
                  <td>Baron Vendor</td>
                  <td><span class="status pending">Inventory</span></td>
                </tr>

                <tr>
                  <td>
                    <img
                      class="img-Product"
                      src="assets/imgs/customer01.jpg"
                      alt=""
                    />
                  </td>
                  <td>Apple Watch</td>
                  <td>$1200</td>
                  <td>0</td>
                  <td>Baron Vendor</td>
                  <td><span class="status return">Empty</span></td>
                </tr>

                <tr>
                  <td>
                    <img
                      class="img-Product"
                      src="assets/imgs/customer01.jpg"
                      alt=""
                    />
                  </td>
                  <td>Addidas Shoes</td>
                  <td>$620</td>
                  <td>500</td>
                  <td>Baron Vendor</td>
                  <td><span class="status inProgress">In Progress</span></td>
                </tr>

                <tr>
                  <td>
                    <img
                      class="img-Product"
                      src="assets/imgs/customer01.jpg"
                      alt=""
                    />
                  </td>
                  <td>Star Refrigerator</td>
                  <td>$1200</td>
                  <td>500</td>
                  <td>Baron Vendor</td>
                  <td><span class="status delivered">Delivered</span></td>
                </tr>

                <tr>
                  <td>
                    <img
                      class="img-Product"
                      src="assets/imgs/customer01.jpg"
                      alt=""
                    />
                  </td>
                  <td>Dell Laptop</td>
                  <td>$110</td>
                  <td>500</td>
                  <td>Baron Vendor</td>
                  <td><span class="status pending">Pending</span></td>
                </tr>

                <tr>
                  <td>
                    <img
                      class="img-Product"
                      src="assets/imgs/customer01.jpg"
                      alt=""
                    />
                  </td>
                  <td>Apple Watch</td>
                  <td>$1200</td>
                  <td>500</td>
                  <td>Baron Vendor</td>
                  <td><span class="status return">Return</span></td>
                </tr>

                <tr>
                  <td>
                    <img
                      class="img-Product"
                      src="assets/imgs/customer01.jpg"
                      alt=""
                    />
                  </td>
                  <td>Addidas Shoes</td>
                  <td>$620</td>
                  <td>500</td>
                  <td>Baron Vendor</td>
                  <td><span class="status inProgress">In Progress</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="assets/js/main.js"></script>
    <!-- ====== ionicons ======= -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
