.biography{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.biography .title h1{
    font-size: 40px;
    font-weight: 700;;
    width: 500px;
}
.biography .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.biography .title .line {
    flex-grow: 1;
    height: 1px;
    width: 900px;
    background-color: #b3b3b3;
    margin-left: 20px; /* Khoảng cách giữa thẻ h1 và đoạn thẳng */
}
.biography .store{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.biography .store .sidebar
{
    width: 500px;
    height: 460px;
    background-image:url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMjItbWluZC0xNl8xLmpwZw.jpg); 
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
    font-size: 18px;
}
.sidebar ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}
.sidebar .view-more {
    margin-top: 20px;
    font-size: 18px;
    color: #ff4500;
}

.biography .store .sidebar ul li a:hover {
    color: #ff4500; 
}

.biography .store .item
{
    display: flex;
    flex-direction: column;

}

.biography .store .item img{
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
}

.biography .store .item p{
    margin-top: 10px;
    font-weight: 700;
    font-size: 15px;
}

.biography .store .item h1{
    margin-top: 10px;
    font-size: 14px;
    color: #b3b3b3;
}

.biography .store .item p1{
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #ff4500;
}

.custom-carousel-control :hover{
    background-color: #b3b3b3;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

