/* Style cho container của phân trang */
#pagination-list {
  display: flex;
  justify-content: center; /* Căn giữa các nút */
  gap: 10px; /* Khoảng cách giữa các nút */
  margin-top: 20px; /* Khoảng cách phía trên */
}

/* Style cho từng nút */
.pagination-button {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
  border: white;
}

/* Nút active */
.pagination-button.active {
  background-color: var(--color-one);
  color: white;
}

/* Hiệu ứng hover */
.pagination-button:hover:not(.active) {
  background-color: var(--color-one);
  color: white;
}

.pagination-button.active:hover {
  background-color: var(--color-one);
}
